---

- name: Add datastax repo
  template: src=datastax.repo dest=/etc/yum.repos.d/datastax.repo

- name: Install cassandra
  yum: name=cassandra22 state=present
  register: cass_package
  notify:
    - Stop cassandra
    - Clear cassandra data dir

- meta: flush_handlers

